@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --app-height: 100vh;
}
@media (max-width: 768px) {
    :root {
        --app-height: 100dvh; /* Use dynamic viewport units if supported */
    }
}
body, #root {
    min-height: 100vh;
    min-height: var(--app-height);
}