@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --app-height: 100vh;
}
@media (max-width: 768px) {
    :root {
        --app-height: 100dvh; /* Use dynamic viewport units if supported */
    }
}

@keyframes vinylanimation {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: 360deg;
    }
}

.rotanimation {
    animation: vinylanimation 2s infinite linear;
}

body, #root {
    min-height: 100vh;
    min-height: var(--app-height);
}